@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido Contoso University</h2>
        <p>
            Contoso University es una simple aplicación que
            demuestra como usar Entity Framework Core en un 
            ASP.NET Core MVC aplicación web.         
        </p>
    </div>
    
</div>